html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'Nimbus Sans L';
  src: url('../public/fonts/NimbusSanL-Bold.woff2') format('woff2'),
      url('../public/fonts/NimbusSanL-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Regular.woff2') format('woff2'),
      url('../public/fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//Desktop sizes

//Sizes
$desktop: 1920;
$mobile: 720;
$mobileBreak: 991px;

$marginD: 40;


$Dmw: ($marginD/$desktop) * 100vw;





$Mmw: ($marginD/$mobile) * 100vw;

$blue: #1A32B0;

body {
  padding: 0px;
  margin: 0 ;
}



h1, h2, h3, h4 {
  font-family: 'Nimbus Sans L';
  font-size: 48px;
  line-height: 1.7em;
  padding-bottom: $Dmw;
}

h2,h1 {
  line-height: 1.5em;
}
h3 {
  font-size: 29px;
  line-height: 1.2em;
}
.subtext {
  font-size: 29px;
}
h2, h4 {
  color: $blue;
}
p {
  font-family: 'Poppins';
  margin: 0;
  margin-bottom: $Dmw/2;
  line-height: 1.7em;
  font-size: 17px;
}




.item-content {
    border: 2px solid #000;
    
}

.view-container {
  display: flex;
  padding-top: $Dmw;
  padding-bottom: $Dmw * 2;
  width: 100%;

  .left-side, .right-side {
    opacity: 0;
    transform: translateY(50px)
  }
  .left-side {
    transition: opacity 500ms ease-in-out 100ms, transform 600ms ease-in-out;
  }
  .right-side {
    transition: opacity 500ms ease-in-out 350ms, transform 600ms ease-in-out 250ms;
  }

  &.active-view {
    .left-side, .right-side {
      opacity: 1;
      transform: translateY(0px)
    }
  }
  
}
.left-side {
 // border: 1px solid red;
  width: 39%;
  padding-left: $Dmw;
  box-sizing: border-box;
  padding-right: $Dmw*3;
}

.text-box {
  padding-bottom: $Dmw*2;

  &.no-space {
    padding-bottom: $Dmw;
  }
}

ul {
  li {
    max-width: 400px;
    display: block;
    margin-bottom: 20px;
    font-family:'Nimbus Sans L';
    color: #000;
    font-size: 29px;
    text-decoration: underline;
    transition: color 500ms ease-in-out, transform 500ms ease-in-out;
    transform-origin: center;

    
    &:hover {
      cursor: pointer;
      color: $blue;
      transform: translateX(10px);
    } 
  }
}
.reg{
  li {
  text-decoration: none;
  &:hover {
    cursor: auto;
    color: #000;
    transform: translateX(0px);
  } 
  }
}


.right-side {
 // border: 1px solid blue;
  width: 61%;
 display: flex;
  padding-right: $Dmw;
  box-sizing: border-box;
 
  

  &.menuScreen {
    padding-right: 0;
  }

  .col:first-child {
    padding-left: 0;
  }
  .col:last-child {
    padding-right: 0;
  }
}



.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.col {
  width: (520/$desktop) *100vw;
  padding-right: $Dmw/2;
  padding-left: $Dmw/2;
  display: flex;
  flex-direction: column;

  flex-grow:1;  
 // border: 1px solid yellow;
  &.full {
    width: 100%;
    box-sizing: border-box;
  }
}
.row {
  width: 100%;
  display: flex;
  //flex-flow: column;
  //padding-top: $Dmw;
  padding-bottom: $Dmw;
  //border: 1px solid purple; 

}

//Standard model menu
.menu-container {
  width: 100%;
  
  border-right: none;
  .menu-item {
   
    width: 100%;
    height: 330px;
    display: flex;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    box-sizing: border-box;

    &:hover {
      cursor: pointer; 
      background-color: $blue;
      color: #fff;
    }
    
    transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
    &:first-child {
      border-top: 1px solid #000;  
    }

    .text-content {
      width: 61%;
    
      .more-notification {
        font-family: 'Nimbus Sans L';
        padding: $Dmw/4;
        font-size: 16px;
        display: block;
        text-decoration: underline;
        //position: absolute;
        
      }
      .left-desc .option-list {
          padding: $Dmw/4;
        }
    }

    .image-content {
      border-right: 1px solid #000;
      width: 39%;
      .still-image {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }

  }
}

.text-content {
  width: 100%;
  box-sizing: border-box;
  padding: $Dmw/4;
  display: flex;
  box-sizing: border-box;

 
  .left-desc {
    width: 40%;
    .option-list {
      padding: 0;
    }
    h3 {
      padding: $Dmw/4;
    }
    .more-notification {
      display: none;
      
    }
  }
  .right-desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: flex-start;
  }

  
}

.model-detail-container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}



//Width items etc..
.list-item {
  width: 35%;
  padding: $Dmw/4;
  box-sizing: border-box;

  &.extend {
    width: 100%;
  }
  p {
    margin: 0;
    font-size: 16px;
    padding-bottom: 10px;
  }
  .list-head {
    font-family: 'Nimbus Sans L';
    padding-bottom: 0px;
    line-height: 1.5em;
  }
  .sub-item {
    line-height: 1.5em;
  }

}

.popup-container {
  opacity: 0;
  //display: none;
  box-sizing: border-box;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  top: 0;
  right:0;
  background-color: #fff;
  pointer-events: none;
  padding-bottom: $Dmw *3;
  transform: translateY(100%);

  .popup-item {
    display: none; 
    overflow-y:scroll;
    height: 100%;
    //margin-bottom: $Dmw *4;
    
  }
  
  .close-button {
    font-family: 'Nimbus Sans L';
    text-align: center;
    position: absolute;
    z-index: 5;
    font-size: 22px;
    background-color: $blue;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    right: 0;
    left: 0;
    bottom:0;
    border-top: 1px solid #000;

    transition: color 500ms ease-in-out, background-color 500ms ease-in-out;

    &:hover {
      cursor: pointer; 
      background-color: #fff;
      color: $blue;
    }
  }

}



@media screen and (max-width: 1000px) {

  h1, h2, h3, h4 {
    font-family: 'Nimbus Sans L';
    font-size: 32px;
    line-height: 1.3em;
    padding-bottom: $Dmw;
  }
  p {
    font-size: 11px;
  }
  .subtext {
    font-size: 22px;
  }
  // h2,h1 {
  //   line-height: 1.5em;
  // }
  h3 {
    font-size: 22px;
    line-height: 1.2em;
  }

  ul {
    li {
      max-width: none;
      display: block;
      margin-bottom: 20px;
    }
  }

  .view-container {
    flex-direction: column;

    .left-side, .right-side {
      width: 100%;
      display: block;
    }
  }

  
.col {
  width: 100%;
  padding: 0;
 // border: 1px solid yellow;
 
}



.right-side, .left-side {
  // border: 1px solid blue;
  padding: 0;
  
  padding-right: $Mmw;
  padding-left: $Mmw;
 
  &.menuScreen {
    padding:0;
  }
 }

 .menu-container {
  // height: auto
 }
 .menu-container .menu-item .image-content {
   width: 100%;
   height: 200px;
 }
 .menu-container .menu-item {
   height: auto;
   flex-direction: column;
 }
 .menu-container .menu-item .text-content {
  width: 100%;
  flex-direction: column;
 }
 .menu-container .menu-item .image-content {
   border: none;
 }

 .menu-container .menu-item {
   border: none;
   border-bottom: 4px solid #000;
 }
 .menu-container .menu-item:first-child {
  border-top: 4px solid #000;
 }





.menu-item {
 

  

 .text-content {
  //flex-direction: column;
 
  .right-desc, .left-desc {
    width: 100%;
    h3 {
      font-size: 22px;
    }
    p {
      font-size: 10px;
    }
  }
  .right-desc {
    justify-content: flex-start; 
  }

 }
}
 

 .list-item {
  padding: 5px;
 }

 .row {
  flex-direction: column;
  padding-bottom: $Mmw;
   .col {
    padding-bottom: $Mmw;
    // display: flex;
    // flex-direction: column;
     
   }
 }
}